header,body{
    background-color: rgb(2, 2, 29);
    color: rgb(231, 188, 17);
    font-size: 1.4em;
    font-weight: lighter;
}

footer{
    background-color: rgb(2, 2, 29);
    color: rgb(227, 233, 235);
    font-size: 1.4em;
    font-weight: bold;
}

section{
  background-color: rgb(240, 220, 89);
  color: rgb(49, 49, 158); 
}


table, th, td {
  text-align: left;
    border: 6px solid rgb(242, 184, 130);
    border-collapse: collapse;
  }

  tr:hover {background-color: #ab7416;};
  article{
    background-color: rgba(46, 49, 158, 0.515);
    max-block-size: 10px;
  }