<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Crypto</title>
    
    <link rel="stylesheet" href="static/css/pico.css">
    <link rel="stylesheet" href="static/css/styles.css">
    
    <html data-theme="light"></html>
</head>
<body>
    <header>
        <div class="container-fluid">
            <strong>My Crypto</strong>
            <nav aria-label="breadcrumb">
                <ul>
                    <li><a href="/" >Inicio</a></li>
                    <li><a href="/purchase" >Compra</a></li>
                    <li><a href="/status" >Estado</a> </li>
                </ul>
            </nav>
        </div>
    </header>
        <section class="container-fluid">
            {% block section %}
            {% endblock %}
        </section>

        <footer>
            <div class="container-fluid">
                &copy; 2023- Pablo Márquez para KeepCoding
                <h6>"Desaconsejamos el tradeo real con cryptomonedas"</h6>
            </div>
        </footer>
</body>
</html>