<!DOCTYPE html>
<html lang="en">

   <!-- Encabezado -->
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>{{title}}</title>
        
        <link rel="stylesheet" href="static/css/styles.css">
        <link rel="stylesheet" href="static/css/pico.css">
        
        
        <html data-theme="light"></html>
    </head>

    <!-- Barra de menú -->
    <body>
        <header>
            <div class="container-fluid">
                <strong>My Crypto</strong>
                <nav aria-label="breadcrumb">
                    <ul>
                        {% if title == "Inicio" %}
                        <li><u class="secondary">Inicio </u> </li>
                        {% else %}
                        <li><a href="/" >Inicio</a></li>
                        {% endif %}

                        {% if title == "Compra" %}
                        <li><u class="secondary">Compra </u> </li>
                        {% else %}
                        <li><a href="/purchase" >Compra</a></li>
                        {% endif %}

                        {% if title == "Estado" %}
                        <li><u class="secondary">Estado </u> </li>
                        {% else %}
                        <li><a href="/status" >Estado</a> </li>
                        {% endif %}

                        {% if title == "Consulta" %}
                        <li><u class="secondary">Consulta</u> </li>
                        {% else %}
                        <li><a href="/consult" >Consulta</a> </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </header>

    <!-- Cuerpo -->
        <!-- Mostrar errores al usuario -->
        <section class="container-fluid">
            <br>
            <h2>{{titulo}}</h2>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <h3><ul class=flashes></h3>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            <br>
            {% endif %}
            {% endwith %}
            {% block section %}
            {% endblock %}
        </section> 

        <!-- Pie de página -->
        <footer>
            <div class="container-fluid">
                &copy; 2023- Pablo Márquez &#174 para KeepCoding &#174
                <h6>"Desaconsejamos el tradeo real con cryptomonedas"</h6>
            </div>
        </footer>
    </body>
</html>