{% extends 'base.html' %}
{% block section %}

<br>
<h1>Tradeo cryptos</h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul class=flashes>
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
  </ul>
{% endif %}
{% endwith %}

<form action="/purchase" method="POST">

    <label for="from">
      From 
      <select name="from_select" value="{{request.from_select}}" placeholder="{{pre_from}}"required>
        {% for item in crypto_usadas %}
        <option value="{{item}}" >{{item}}</option>
        {% endfor%}
        <option  placeholder="{{pre_from}}" selected>{{pre_from}}</option>
      </label>
      </select>

      <label for="Q2">
        Cantidad 
        <input value="{{q_to}}" type="number"  id="cantidad" name="quantity" placeholder="{{ q_to }} " required>
      </label>  
  
    <label for="to">
      To
      <select name="to_select" value="{{request.to_select}}" required>
        {% for item in crypto_posibles %}
        <option value="{{item}}" required>{{item}}</option>
        {% endfor%}
        <option value="{{pre_to}}" placeholder="{{pre_to}}" selected>{{pre_to}}</option>
      </label>
      </select>
    
        <label for="Q">
          Cambio
          <input value="{{valor}}" type="text"  id="precompra" name="quantity2" placeholder="{{valor}}" readonly>
        </label>
        

    <!-- Button -->
  <input type="submit" name = "Button" value="Previsualizar" class="secondary">
    <br>
  <input type="submit" name = "Button" value="Guardar">
    <br>

  </form>
<br>

  {% endblock %}
