{% extends 'base.html' %}
{% block section %}

<!-- Consulta simple -->
<br>
<h2>Consulta simple Valor cryptomonedas</h2>
{% with messages = get_flashed_messages() %}
{% if messages %}
 <h3><ul class=flashes></h3>
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
<br>
{% endif %}
{% endwith %}
<form action="/consult" method="post">
<article data-theme="dark">
    <label for="to">
        Selecciona Cryptomoneda
        
        <select name="to_select" value="{{request.to_select}}" required>
          {% for item in crypto_posibles %}
          <option value="{{item}}" required>{{item}}</option>
          {% endfor%}
          {% if item %}
          <option value="{{item}}" placeholder="{{item}}" >{{item}}</option>
            {% endif %}
          <option value="" placeholder="{{item}}" selected>Seleccione cryptomoneda</option>
        </label>
        </select>
    </label>
    <input type="text" value="{{valor_euro}} €" readonly>
    <input type="text" value="{{valor_dolar}} $" readonly>
   
  </article>
  
  <button type="submit" name="Button" value="calcular">Mostrar valor</button>
  <br>
</form>
{% endblock %}