{% extends 'base.html' %}

{% block section %}
<table>
    
    
    <tbody>
      <tr>
        <th scope="row">Invertido</th>
        <td>0</td>
    
      </tr>
      <tr>
        <th scope="row">Recuperado</th>
        <td>0</td>
        
      </tr>
      <tr>
        <th scope="row">Valor de compra</th>
        <td>0</td>
        
      </tr>
      <tr>
        <th scope="row">Valor actual</th>
        <td>0</td>
        
      </tr>
    </tbody>
    
  </table>

 <a href="/" role="button">Volver a Inicio</a>
{% endblock %}