{% extends 'base.html' %}
{% block section %}
<!-- Tabla para transacciones -->
<table>
    <tbody>
      <tr>
        <th scope="row">Invertido</th>
        <td>{{euros}} €</td>
    
      </tr>
      <tr>
        <th scope="row">Recuperado</th>
        <td>{{euros_rec}} €</td>
        
      </tr>
      <tr>
        <th scope="row">Valor de compra</th>
        {% if ganancia == "verde" %}
        <td style="background-color: rgb(90, 203, 29)" >{{valor_compra}} €</td>
        {% elif ganancia == "NO" %}
        <td style="background-color: rgb(254, 244, 151)" >{{valor_compra}} €</td>
         {% else %}
        <td style="background-color: rgb(214, 38, 38)">{{valor_compra}} €</td>
        {% endif %}
        
      </tr>
      <tr>
        <th scope="row">Valor actual</th>
        {% if ganancia2 == "verde" %}
        <td  style="background-color: rgb(90, 203, 29)">{{valor_act}} €</td>
        {% elif ganancia2 == "NO" %}
        <td style="background-color: rgb(254, 244, 151)" >{{valor_act}} €</td>
        {% else %}
        <td style="background-color: rgb(214, 38, 38)">{{valor_act}} €</td>
        {% endif %}
        
      </tr>
      <tr>
        <th scope="row">Ganancia</th>
        {% if ganancia3 == "verde" %}
        <td  style="background-color: rgb(90, 203, 29)">{{ganancia_total}} €</td>
        {% elif ganancia3 == "NO" %}
        <td style="background-color: rgb(254, 244, 151)" >{{ganancia_total}} €</td>
        {% else %}
        <td style="background-color: rgb(214, 38, 38)">{{ganancia_total}} €</td>
        {% endif %}
        
      </tr>
    </tbody>
    
  </table>
  
 <a href="/" role="button">Volver a Inicio</a>
 <br>
 <br>
{% endblock %}