{% extends 'base.html' %}

{% block section %}
&nbsp
<table>
    <tbody>
      <tr>
        <th scope="row">Invertido</th>
        <td>{{euros}} €</td>
    
      </tr>
      <tr>
        <th scope="row">Recuperado</th>
        <td>{{euros_rec}} €</td>
        
      </tr>
      <tr>
        <th scope="row">Valor de compra</th>
        <td>{{valor_compra}} €</td>
        
      </tr>
      <tr>
        <th scope="row">Valor actual</th>
        <td>{{valor_actual}} €</td>
        
      </tr>
    </tbody>
    
  </table>
  
 <a href="/" role="button">Volver a Inicio</a>
 <br>
 <br>
{% endblock %}