{% extends 'base.html' %}

{% block section %}

<table role = "grid">
    <thead>
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Hora</th>
        <th scope="col">From</th>
        <th scope="col">Q</th>
        <th scope="col">to</th>
        <th scope="col">Q</th>
        <th scope="col">P.U</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        
      </tr>
      <tr>
        
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        
      </tr> 
      
      <tr>
        
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        
      </tr>
    </tbody>
    <tfoot>
     
    </tfoot>
  </table>

{% endblock %}