{% extends 'base.html' %}
{% block section %}
<br>
<!-- Mensaje tabla vacía-->

{% if movs == 0 %}
  <h2>Esta tabla está vacía, dirigite a Compra para empezar </h2>
  <a href="/purchase" role="button">Empezar a comprar</a>
  <br>

  <!-- Tabla -->
{% else %}
  <table role = "grid" >
    <thead>
      <tr>

        <th scope="col">Fecha</th>
        <th scope="col">Hora</th>
        <th scope="col">Moneda/Crypto Origen</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Crypto/moneda Adquirida</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Precio Unitario</th>
      </tr>
    </thead>

    <!-- Datos tabla -->
    <tbody>
    
      {% for item in data %}
          <tr>
              <td>{{item.Fecha}}</td>
              <td>{{item.Hora}}</td>
              <td>{{item.Moneda_from}}</td>
              <td>{{item.Cantidad_from}}</td>
              <td>{{item.Moneda_to}}</td>
              <td>{{item.Cantidad_to}}</td>
              <td>{{item.Valor}}€</td> 
          </tr>
      {% endfor %}
    
    </tbody> 
</table>
{% endif %}
<br>

{% endblock %}
