{% extends 'base.html' %}
{% block section %}
<br>
<h2>Tabla de movimientos</h2>
{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul class=flashes>
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
  </ul>
{% endif %}
{% endwith %}

{% if movs == 0 %}
  
  <h2>Esta tabla está vacía, dirigite a Compra para empezar </h2>
  
  <a href="/purchase" role="button">Empezar a comprar</a>
  <br>

{% else %}
  <table role = "grid" data-theme="dark">
    <thead>
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Hora</th>
        <th scope="col">From</th>
        <th scope="col">Cantidad</th>
        <th scope="col">To</th>
        <th scope="col">Q</th>
        <th scope="col">Precio Unitario</th>
      </tr>
    </thead>
    <tbody>
    
      {% for item in data %}
          <tr>
              <td>{{item.Fecha}}</td>
              <td>{{item.Hora}}</td>
              <td>{{item.Moneda_from}}</td>
              <td>{{item.Cantidad_from}}</td>
              <td>{{item.Moneda_to}}</td>
              <td>{{item.Cantidad_to}}</td>
              <td>{{item.Valor}}€</td> 
          </tr>
      {% endfor %}
    
    </tbody> 
</table>
{% endif %}
<br>

{% endblock %}
